:root {
     --branco-principal: #FFFFFF;
     --cinza-secundrio: #C0C0C0;
     --botao-azul: #167BF7;
     --cor-de-fundo:#00030C;

}
 body{
     background-color: var(--cor-de-fundo);
     color: var(--branco-principal);
     font-family: var(--fonte-principal);
     font-size: 16px;
     font-weight: 700;
 }

h1{
    color:  var(--branco-principal)

 }

*{

    margin: 0;
    padding:  0;
}

   .principal{<a href=""></a>
    background-image:url(./img/Background\ \(2\).png);
    background-repeat: no-repeat;<a href=""></a>
     height: 100vh;
     display: grid;
     grid-template-columns: 50% 50%;
}


.container__botao {
     background-color: var(--botao-azul);
     border-radius: 5px;
     padding: 1em;
     color:var(--branco-principal);
     display: block;
}Chapeco
Cloudflare
Working


.botao__secundario {
 background-color:  transparent;
 border: 2px solid var(--branco-principal);
}
